<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Transaction</title>
</head>
<body>
<h1>All Transaction</h1>
<form action="#" th:object="${transactionPage}">
    <th:block th:if="${transactionPage.content} == null">No History Transaction</th:block>
    <table>
        <tr>
            <th>No</th>
            <th>Transaction Date</th>
            <th>Transaction Type</th>
            <th>Amount</th>
        </tr>
        <tr th:each="transaction, stat : ${transactionPage.content}">
            <td th:text="${stat.index + 1}">No</td>
            <td th:text="${transaction.accountNumber}">Account Number</td>
            <td th:text="${transaction.transactionDate}">Transaction Date</td>
            <td th:text="${transaction.transactionType}">Transaction Type</td>
            <td th:text="${transaction.amount}">Amount</td>
        </tr>
    </table><br>
    <div th:if="${transactionPage.totalPages > 1}">
        <span>Page List </span> &nbsp;
        <span th:each="pageNumber : ${pageNumbers}">
            <a th:href="@{/allTransaction(accountNumber=${#httpServletRequest.remoteUser}, size=${transactionPage.size},
                page=${pageNumber})}" th:text=${pageNumber}
               th:class="${pageNumber==transactionPage.number + 1} ? active"></a> &nbsp; &nbsp;
        </span>
    </div>
</form><br>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout" />
</form>
</body>
</html>