<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Withdraw Summary</title>
</head>
<body>
    <h1>Withdraw Summary</h1>
    <form action="#" th:object="${account}">
        <div th:object="${transaction}">
        <p th:text="'Date           : ' + ${transaction.transactionDate}"></p>
        <p th:text="'Withdraw       : ' + ${transaction.amount}"></p>
        <p th:text="'Balance        : ' + ${account.balance}"></p>
        <p th:text="'Account Number : ' + ${account.accountNumber}"></p>
        </div>
    </form>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Logout" />
    </form>
</body>
</html>